body {
	background-color: #33353D;
}

.button {
	width: 217px;
	height: 40px;
 	border-radius: 4px;
  	border: solid 2px #96969C;
  	margin: auto;
 	text-align: center;
}

.button a {
	width: 217px;
  	height: 40px;
	font-family: ProximaNova, Arial;
  	font-size: 16px;
  	font-weight: 600;
  	color: #ffffff;
  	text-decoration: none;
 	display: block;
 	margin-top: 10px;
}